<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <form class="uk-form-horizontal uk-text-left" action="/add" method="POST" enctype="multipart/form-data">
    <div class="">
      <div class="">

        <div class="uk-margin">
          <label class="uk-form-label" for="name-text">Name</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="name-text" type="text" name="name" placeholder="Name" />
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="name-text">Category</label>
          <div class="uk-form-controls">
            <select class="uk-button uk-button-default" name="category" id="category" placeholder="Category">
              {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="desc-text">Description</label>
          <div class="uk-form-controls">
            <textarea class="uk-input" id="desc-text" type="text" name="description" rows="5" placeholder="Description" ></textarea>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="name-text">Latitude</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="lat-input" type="text" name="latitude" placeholder="Latitude" />
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="name-text">Longitude</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="long-input" type="text" name="longitude" placeholder="Longitude" />
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="image-file">Image</label>
          <div class="uk-form-controls">
            <input type="file" class="uk-input" id="image-file" name="imagefile" accept="image/png, image/jpeg">
          </div>
        </div>
      </div>
      
    </div>
        <div class="uk-margin">
          <button class="submit uk-button uk-button-primary uk-button-large uk-align-right">Save</button>
        </div>
  </form>
</div>