<ul class="uk-iconnav uk-margin-left">
  <a href="/create" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fa-plus fa-3x" style="color:rgb(0, 0, 0)" title="Create" pos="bottom" uk-tooltip></i>
  </a>
  <a href="/list" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fa-th-list fa-3x" style="color:rgb(0, 0, 0)" title="List" pos="bottom" uk-tooltip></i>
  </a>
  <a href="/settings" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fa-sliders-h fa-3x" style="color:rgb(0, 0, 0)" title="Settings" pos="bottom" uk-tooltip></i>
  </a>
  <a href="/logout" class="uk-card uk-card-small uk-card-hover uk-padding-small">
    <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(153, 47, 74)" title="Logout" pos="bottom" uk-tooltip></i>
  </a>
</ul>