{{#if successMessage}}
  <div class="uk-margin uk-padding uk-text-left uk-alert-success">
    <div class="uk-text">
      Success!
    </div>
    <ul class="uk-list uk-list-disc">
      {{successMessage}}
    </ul>
  </div>
{{/if}}