<div class="uk-card uk-card-body uk-box-shadow-large">
    <h3 class="uk-card-title">{{point.name}}</h3>
    <img data-src="{{point.imageUrl}}" alt="image of {{point.name}}" uk-img>
    <p>{{point.description}}</p>
</div>